@import 'contentSection.css';

@font-face { 
  font-family:'WF Visual Sans';
  src:url('https://dhygzobemt712.cloudfront.net/Fonts/VF/WFVisualSansVF.woff2')
      format('woff2');
  font-weight:100 900;
  font-style:normal;
  font-display:swap;
} 
     

* {
    font-family: WF Visual Sans, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
  background : var(--p-content-background); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
    background: var(--card-background);
     border: var(--card-border);
     border-radius: 10px;
     margin-bottom: 1rem;
     padding: 2rem;
 }


 /* SCROLLBAR */
* {
    --sb-track-color: var(--p-content-background);
    --sb-thumb-color: var(--p-content-color);
    --sb-size: 6px;
  }
  
  *::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  *::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

.h1 {
  margin-top: 0; 
  margin-bottom: 0; 
  font-family: WF Visual Sans,Arial,sans-serif; 
  font-size: 5.313rem; 
  font-weight: 600; 
  line-height: 1.04;
}